.swiper-pagination-bullet-active {
  background: #fed700;
  width: 30px;
  border-radius: 4px 4px 4px 4px;
}

.swiper-pagination-bullet {
  transition: all 0.3s ease 0s;
}

.swiper-container {
  margin-bottom: 20px;
}
